body {
    font-family: Arial, sans-serif;
    background-color: #dfdfdf;
    background-image: url('Images/bg.png');
    background-size: cover;
}

nav {
    margin-top: 5px;
    background-color: #333;
    overflow: hidden;
    border-radius: 15px;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.titr{
    float: right;
}

.logo{
    position: absolute;
    top: 6px;
    left: 47vw;
}

.logo:hover{
    background-color: #aaaaaa;
    border-radius: 100px;
}

#lmain{
    height: 50px;
    width: auto;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input, button {
    margin: 5px 0;
    padding: 8px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}

.newuser{
    background-color: #333;
    float:right;
    text-decoration: underline;
    color: blue;
}

.newuser:visited{
    text-decoration: underline;
    color: purple;
}
